<div>
    <h1>Edit Your Profile </h1>
    <hr>
    <div class="col-md-4">
      <form [formGroup]="profileForm" autocomplete="off" (ngSubmit) = "onSaveProfile(profileForm.value)">
        <div class="form-group" [ngClass]="{error: !isValidFirstName()}">
          <label for="firstName">First Name:</label>
          <em *ngIf="!isValidFirstName() && firstName.errors?.required">Required</em>
          <em *ngIf="!isValidFirstName() && firstName.errors?.pattern">Must start with letter</em>
          <input id="firstName" formControlName="firstName" type="text" class="form-control" placeholder="First Name..." />
        </div>
        <div class="form-group" [ngClass]="{error: !isValidLastName()}">
          <label for="lastName">Last Name:</label>
          <em *ngIf="!isValidLastName()">Required</em>
          <input id="lastName" formControlName="lastName" type="text" class="form-control" placeholder="Last Name..." />
        </div>
  
        <button type="submit" class="btn btn-primary" >Save</button>
        <button type="button" class="btn btn-default" (click)="onCancel()">Cancel</button>
      </form>
    </div>
  </div>